/Makefile
A*/Makefile
Index_Example*/Makefile
Instanced_Example*/Makefile
shared/glfw**/Makefile
shared/imgui**/Makefile
shared/lua-5.3.1

build

*.a
*.o
*.swp
*.swo
*.idea
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcscmblueprint
*.DS_Store
imgui.ini

*/Assets/backup

Project/Project
Project/*.aux
Project/*.log
